@tailwind base;
@tailwind components;
@tailwind utilities;



.dropdown_content{
    display: none;
}

.dropdown_parent:hover .dropdown_content {
    display: block;
}


.features-card:hover {
    box-shadow: 1px 10px 20px -1px rgba(173, 181, 183, 0.67);
    transition: .5s ease;
}

.blog-card {
    box-shadow: 1px 10px 20px -1px rgba(200, 203, 203, 0.67);
    transition: .5s ease;
}

.leader-card {
    box-shadow: 1px 10px 20px -1px rgba(200, 203, 203, 0.67);
    transition: .5s ease;
}

.home3-pricing-plans-middle-card {
    box-shadow: 0px 5px 15px -5px #404072;
    transition: .5s ease;
}

.home3-contact-us-card {
    box-shadow: 1px 10px 20px -1px rgba(200, 203, 203, 0.67);
    transition: .5s ease;
}

.accordion-card {
    box-shadow: 1px 10px 20px -1px rgba(200, 203, 203, 0.67);
    transition: .5s ease;
}

.love_us_card {
    box-shadow: 1px 10px 20px -1px rgba(201, 207, 208, 0.67);
    transition: .5s ease;
}

.home4-middle-subscription-card {
    box-shadow: 1px 10px 20px -1px rgba(173, 181, 183, 0.67);
    transition: .5s ease;
}

.mini-card {
    box-shadow: 1px 10px 20px -1px rgba(173, 181, 183, 0.67);
    transition: .5s ease;
}

.white-image {
    display: none;
}

.mini-card:hover {
    box-shadow: none;
}

.mini-card:hover .white-image {
    display: block;
}

.mini-card:hover .black-image {
    display: none;
}

.mini-card:hover h5 {
    color: white;
}

.mini-card:hover p {
    color: white;
}

#home-4-contact-terms input[type=checkbox] {
    appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: white;
    margin: 0;
}

#home-4-contact-terms input[type=checkbox]:checked {
    background-color: white;
}

#home-4-contact-terms input[type=checkbox]:checked::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 4px;
    top: 5px;
    left: 3px;
    border-left: 2.5px solid #2C2003;
    border-bottom: 2.5px solid #2C2003;
    transform: rotate(-45deg);

}

.contact-variation {
    display: none;
}

.contact-variation-container:hover .contact-variation {
    display: block;
}

.home3-pricing-plans-cards-background {
    background-image: linear-gradient(#FFFFFF 0%,
            #FFFFFF 20%,
            #FFFFFF 20%,
            #FFFFFF 38%,
            #2E2E52 38%,
            #2E2E52 60%,
            #2E2E52 80%,
            #2E2E52 80%,
            #2E2E52 100%);
    background-size: cover;
}

/* Carousel */

.mySlides {
    display: none
}

.mySlides2 {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    padding: 16px;
    margin-top: -22px;
    background-color: #FF6AC2;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: -22px;
    border-radius: 50%;
}

.prev {
    left: -22px;
    border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
    background-color: red;
} */

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 4px;
    margin: 0 px;
    border-radius: 8px;
    display: inline-block;
}

#dot-home1 .dot {
    background-color: #C6ADF1;
    width: 9px;
    transition: background-color 0.6s ease;
    transition: width 0.6s ease;
}

#dot-home2 .dot {
    background-color: #84661E;
    width: 9px;
    transition: background-color 0.6s ease;
    transition: width 0.6s ease;
}

#dot-home1 .active,
.dot-:hover {
    background-color: #6A26DA;
    width: 15px;
}

#dot-home2 .active,
.dot:hover {
    background-color: #2C2003;
    width: 15px;
}




/* Background Images */
.home1-banner {
    background-image: url('../public/images/home1-banner.svg');
}

.profile {
    background-image: url('../public/images/profile.jpg');
}

.profile2 {
    background-image: url('../public/images/man.jpg');
}

.profile3 {
    background-image: url('../public/images/profile2.jpg');
}

.home2-banner {
    background-image: url('../public/images/home2bg.png');
}

.home2-frame {
    background-image: url('../public/images/Frame23.svg');
}

.home2-about-bg {
    background-image: url('../public/images/home2-about-get-started.png');
}

.home2-sign-bg {
    background-image: url('../public/images/sign-in-banner-home2.png');
}

.home2-blog-bg {
    background-image: url('../public/images/blog-description-bg-home2.png');
}

.home3-banner {
    background-image: url('../public/images/Rectangle35.svg');
}

.home3-banner2 {
    background-image: (url('../public/images/home3-banner.png'));
}

.home3-blog {
    background-image: url('../public/images/blog-details-cover-home3.png');
}

.home3-gallery {
    background-image: url('../public/images/gallery-banner-home3.png');
}

.home4-banner {
    background-image: url('../public/images/Home4_banner.png');
}

.home4-banner2 {
    background-image: url('../public/images/Banner-of-home4.png');
}

.home4-testimonials {
    background-image: url('../public/images/testimonials1.svg');
}

.home4-about {
    background-image: url('../public/images/home4-aboutus-last-section.png');
}

.home4-blog {
    background-image: url('../public/images//home4-blog.png');
}

.home4-faq-bg {
    background-image: url('../public/images/home4-faq-bg.png');
}

/* End Banner */

.react-multi-carousel-dot--active button {
    background-color: #6A26DA !important;
    border-color: #6A26DA !important;
}

.react-multi-carousel-dot button {
    border-width: 3px !important;
    border-color: #6A26DA !important;
}

.swiper-button-prev {
    display: none !important;
}

.swiper-button-next {
    display: none !important;
}

.swiper-pagination-bullet {
    width: 9px !important;
    height: 4px !important;
    background-color: #C6ADF1 !important;
    border-radius: 3px !important;
}

.swiper-pagination-bullet-active {
    width: 15px !important;
    height: 4px !important;
    background-color: #6A26DA !important;
    border-radius: 3px !important;
}

.blur-bg {
    background-color: black;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    /* top: -80px; */
}

.home4-signup-container {
    padding: 31px 24px 26px 24px;
    box-shadow: -2px 21px 15px -8px rgba(0, 0, 0, 0.28);
}

.placeholder_style::placeholder {
    color: white;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}



@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* End Carousel */


/* .home3-banner {
    background-image: url('../public/images/test.svg');
    background-size: cover;
    background-position: top center;
    height: 970px;

} */

.home4-footer {
    background-image: url('../public/images/footer-bg.svg');
    position: relative;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.home4-hero-section {
    background-image: url('../public/images/banner-bg.svg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: left bottom;
}

@media only screen and (max-width: 1023px) {
    .home3-banner {
        height: 670px;
    }
}

@media only screen and (max-width: 767px) {
    .home3-banner {
        height: 470px;
    }

    .home3-pricing-plans-card {
        box-shadow: 0px 5px 15px -5px #404072;
        transition: .5s ease;
    }
}